html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: '03SmartFontUI';
    src: url('../fonts/03ui-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: '03SmartFontUI',Arial, sans-serif;
    height: 20000px;
    width: 20000px;
    /*background-image: 
        linear-gradient(to right , rgba(0,0,0,0.1) 1px, transparent 2px),
        linear-gradient(to bottom, rgba(0,0,0,0.1) 1px, transparent 2px);
    background-size: 50px 50px; /* グリッドのサイズ */
    background-color: #333;
}

#grid1 {
    background-color: #333;
    height: 20000px;
    width: 20000px;
    background-image: 
        linear-gradient(to right , rgba(255,255,255,0.3) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255,255,255,0.3) 1px, transparent 1px);
    background-size: 50px 50px; /* グリッドのサイズ */
}

#grid2 {
    height: 20000px;
    width: 20000px;
    background-image: 
        linear-gradient(to right , rgba(255,255,255,0.5) 3px, transparent 1px),
        linear-gradient(to bottom, rgba(255,255,255,0.5) 3px, transparent 1px);
    background-size: 500px 500px; /* グリッドのサイズ */
}

#rectangle {
    width: 50px;
    height: 50px;
    background-color: #4CAF50; /* 緑色 */
    border: 2px solid #333; /* 枠線の色と太さ */
    position: absolute;
    top: 8000px; /* 上からの位置 */
    left: 9990px; /* 左からの位置 */
}



#myElement {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px; /* スクロールを考慮した位置 */
    left: 0px; /* スクロールを考慮した位置 */
    color: transparent;
}

#coordinates2 {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-family: '03SmartFontUI',Arial, sans-serif;
}



#text1 {
    position: absolute;
    top: 10500px; /* 上からの位置 */
    left: 10000px; /* 左からの位置 */

    display: flex;
    flex-direction: column; /* アイテムを縦方向に並べる */
    align-items: flex-start; /* 縦方向（交差軸）に上揃え */

    width:  800px;
    height: 500px;

    font-size: 24px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3); /* 背景色を半透明にしてテキストを読みやすく */
    padding: 10px;
    border-radius: 50px;
    font-family: '03SmartFontUI',Arial, sans-serif;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

#text2 {
    position: absolute;
    top: 14500px; /* 上からの位置 */
    left: 7000px; /* 左からの位置 */

    display: flex;
    flex-direction: column; /* アイテムを縦方向に並べる */
    align-items: flex-start; /* 縦方向（交差軸）に上揃え */

    width:  800px;
    height: 500px;

    font-size: 24px;
    color: #fff;
    background-color: rgba(0, 100, 97, 0.3); /* 背景色を半透明にしてテキストを読みやすく */
    padding: 10px;
    border-radius: 50px;
    font-family: '03SmartFontUI',Arial, sans-serif;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

#text3 {
    position: absolute;
    top: 10500px; /* 上からの位置 */
    left: 17000px; /* 左からの位置 */

    display: flex;
    flex-direction: column; /* アイテムを縦方向に並べる */
    align-items: flex-start; /* 縦方向（交差軸）に上揃え */

    width:  800px;
    height: 500px;

    font-size: 24px;
    color: #fff;
    background-color: rgba(137, 137, 0, 0.3); /* 背景色を半透明にしてテキストを読みやすく */
    padding: 10px;
    border-radius: 50px;
    font-family: '03SmartFontUI',Arial, sans-serif;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

#text4 {
    position: absolute;
    top: 2000px; /* 上からの位置 */
    left: 8000px; /* 左からの位置 */

    display: flex;
    flex-direction: column; /* アイテムを縦方向に並べる */
    align-items: flex-start; /* 縦方向（交差軸）に上揃え */

    width:  1700px;
    height: 500px;

    font-size: 24px;
    color: #fff;
    background-color: rgba(57, 0, 137, 0.3); /* 背景色を半透明にしてテキストを読みやすく */
    padding: 10px;
    border-radius: 50px;
    font-family: '03SmartFontUI',Arial, sans-serif;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

#text5 {
    position: absolute;
    top: 18000px; /* 上からの位置 */
    left: 18000px; /* 左からの位置 */

    display: flex;
    flex-direction: column; /* アイテムを縦方向に並べる */
    align-items: flex-start; /* 縦方向（交差軸）に上揃え */

    width:  800px;
    height: 500px;

    font-size: 24px;
    color: #fff;
    background-color: rgba(134, 0, 0, 0.3); /* 背景色を半透明にしてテキストを読みやすく */
    padding: 10px;
    border-radius: 50px;
    font-family: '03SmartFontUI',Arial, sans-serif;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

#text6 {
    position: absolute;
    top: 1000px; /* 上からの位置 */
    left: 2000px; /* 左からの位置 */

    display: flex;
    flex-direction: column; /* アイテムを縦方向に並べる */
    align-items: flex-start; /* 縦方向（交差軸）に上揃え */

    width:  800px;
    height: 500px;

    font-size: 24px;
    color: #fff;
    background-color: rgba(85, 88, 255, 0.3); /* 背景色を半透明にしてテキストを読みやすく */
    padding: 10px;
    border-radius: 50px;
    font-family: '03SmartFontUI',Arial, sans-serif;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

#Others {
    position: absolute;
    top: 18000px; /* 上からの位置 */
    left: 4000px; /* 左からの位置 */

    display: flex;
    flex-direction: column; /* アイテムを縦方向に並べる */
    align-items: flex-start; /* 縦方向（交差軸）に上揃え */

    width:  800px;
    height: 500px;

    font-size: 24px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3); /* 背景色を半透明にしてテキストを読みやすく */
    padding: 10px;
    border-radius: 50px;
    font-family: '03SmartFontUI',Arial, sans-serif;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}



.container1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10000px; /* 上からの位置 */
    left:10000px; /* 左からの位置 */
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
    opacity: 0;
    font-size: 20px;
    color: #cbf;
    animation: fadeInAnimation 3s forwards; /* アニメーションを3秒で実行し、アニメーション終了後もスタイルを保持 */
}



@keyframes fadeInAnimation {
    0% {
        opacity: 0; /* アニメーション開始時の状態（完全に透明） */
        /*transform: translateY(0px); /* 少し下からスタート */
    }
    100% {
        opacity: 1; /* アニメーション終了時の状態（完全に不透明） */
        /*transform: translateY(0); /* 元の位置に戻す */
    }
}



li a {
    text-decoration: underline; /* 初期状態の下線を消す */
    color: rgb(50, 200, 100); /* リンクの色を緑に設定 */
}

li a:hover {
    text-decoration: none; /* ホバー時に下線を表示 */
}